@use '../abstracts' as *;

.nav {
  text-align: center;
  position: relative;
  z-index: var(--zindex-modal);
  margin-top: 3rem;

  @include mq(large, up) {
    z-index: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
  }

  &__list {
    background-color: var(--clr-neutral-white);
    border-radius: 0.3em;
    flex-basis: 100%;

    @include prepend-selector(ul) {
      padding: 1.5em 0;
    }

    @include mq(x-large, up) {
      background-color: transparent;
    }

    &__item {
      font-weight: var(--fw-bold);
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;

      @include mq(large, up) {
        padding-top: 0;
        padding-bottom: 0;
      }

      & + & {
        @include mq(large, up) {
          margin: 0 0 0 2rem;
        }
      }
    }

    @include mq(large, up) {
      display: flex;
    }
  }
}
