@use '../../abstracts/breakpoint' as *;

.intro {
  text-align: center;
  margin-top: 5rem;
  position: relative;

  &:after {
    // content: '11';
    // position: absolute;
    // width: 100%;
    // height: 81.4rem;
    // background-image: url('../../assets/images/bg-tablet-pattern.svg');
    // background-repeat: no-repeat;
    // background-size: 125% auto;
    // background-position: calc(50% + 25vw) -30vw;
    // bottom: -10%;
    // right: 0;
    // z-index: -100;

    // @include media(475px) {
    //   background-size: 57rem auto;
    //   background-position: calc(50% + 25vw) -30vw;
    // }

    // @include media(530px) {
    //   background-position: calc(50% + 20vw) -25vw;
    // }

    // @include mq(medium, up) {
    //   background-size: 70% auto;
    //   background-position: calc(50% + 40vw) -20vw;
    // }

    // @include mq(large, up) {
    //   background-position: calc(50% + 40vw) -12vw;
    // }

    // @include mq(x-large, up) {
    //   background-size: auto;
    //   background-position: calc(50% + 46rem) -15.4rem;
    // }
  }

  .container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    @include mq(large, up) {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }
  }

  &__info {
    @include mq(large, up) {
      text-align: left;
      max-width: 47ch;
      margin-top: 5rem;
    }

    &__lead {
      @include mq(large, up) {
        max-width: 36ch;
      }
    }

    &__btn {
      margin-top: 2rem;
    }
  }

  &__image {
    @include mq(large, up) {
      margin-right: -.95rem;
    }
    @include mq(large, up) {
      margin-right: -1.25rem;
    }
  }
}
