@use '../abstracts/breakpoint' as *;

.call-to-action {
	text-align: center;
	color: var(--clr-neutral-white);
	padding: 4rem 0;
	background-color: var(--clr-primary-red);
	background-image: url('../../assets/images/bg-simplify-section-mobile.svg');
	background-repeat: no-repeat;
	background-position: left center;
	// background-size: contain;
	margin-top: 3rem;

	@include mq(x-large, up) {
		margin-top: 10rem;
	}
	
	@include mq(medium, 'up') {
		text-align: left;
	}
	@include mq(large, 'up') {
		background-image: url('../../assets/images/bg-simplify-section-desktop.svg');
		background-position: calc(50% + 16.5rem) bottom;
	}

	.container {
		--flow-spacer: 2rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 2rem;

		@include mq(medium, 'up') {
			flex-direction: row;
			justify-content: space-between;
		}
		
	}
	&__text {
		font-size: 2rem;
		line-height: 1.25;
		font-weight: var(--fw-medium);
		width: 13ch;
		max-width: 20ch;
		// margin-left: auto;
		// margin-right: auto;

		@include mq(small, up) {
			width: auto;
			font-size: 2.5rem;
			font-weight: var(--fw-bold);		
		}

	}

	.btn {
		font-weight: var(--fw-bold);
	}
}