@use '../abstracts/breakpoint' as *;

.footer {
  background-color: var(--clr-neutral-blue-900);
	color: white;
	padding: 3rem 0 1rem;

	.container {
		margin-left: 1.5rem;
		margin-right: 1.5rem;
		display: grid;
		gap: 3rem;
		place-items: center;
	}

	.registration-form {
		display: flex;
		gap: 0.5rem;

		input {
			padding: 0.5rem 1.5rem;
			border: none;
			border-radius: 100vh;
			width: 100%; // allow the input to grow as much as possible. The gap will enforce the spacing
		}
	}
	.links {
		display: flex;
		width: 100%;
		justify-content: space-around;

		&__list {
			display: flex;
			flex-direction: column;
			gap: 0.5rem;

			&__item {
				a {
					color: inherit;
					font-weight: var(--fw-normal);
				}
			}
		}

	}

	.social-links {
		--fill-color: var(--clr-neutral-white);
		place-self: center;
		display: flex;
		justify-content: space-between;
		gap: 2rem;
		
		&__item {
			&__anchor-link {
				&:hover,
				&:focus {
					opacity: 1;
				}

				&:hover svg path,
				&:focus svg path  {
					fill: var(--clr-primary-red);
				}

				&__icon {
					width: 30px;
					height: 30px;
					// color: var(--fill-color);
				}
			}
		}
	}

	.logo-container {
		text-align: center;
		// place-self: center;
	}

	&__copyright {
		// text-align: center;
		color: var(--clr-neutral-blue-400);
		font-size: 0.75rem;
	}

	.attribution {
		margin-top: 2rem;
	}

}
