@use '../abstracts/breakpoint' as *;
.main-header {
  margin-top: 2.5rem;

  .container {
    display: flex;
    flex-direction: column;

    @include mq(x-large, up) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  .btn {
    display: none;

    @include mq(x-large, up) {
      display: inline-block;
    }
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  // @include mq(small, down) {
  //   width: 75%;
  // }

  // @include mq(large, up) {
  //   width: 100%;
  // }
}
