@use '../abstracts/breakpoint' as *;

.container {
  margin-left: 2rem;
  margin-right: 2rem;

  @include mq(small, up) {
    width: 80%;
    max-width: 36rem;
    margin: 0 auto;
  }

  @include mq(medium, up) {
    width: 85%;
    max-width: 46rem;
    margin: 0 auto;
  }
  @include mq(large, up) {
    max-width: 72rem;
  }
  // @include mq(large, up) {
  //   width: 70%;
  // }
}
