body {
  background-image: url('../../assets/images/bg-simplify-section-mobile.svg');
  background-repeat: no-repeat;
  background-position: -6% -18%;
}

ul[class],
ol[class],
input {
  padding: 0;
  margin: 0;
}
