@use 'sass:map';

$breakpoint: (
  // 576px
  small: 36rem,
  // 768px
  medium: 48rem,
  // 992px
  large: 62rem,
  // 1200px
  x-large: 75rem
);

@mixin mq($key, $type) {
  $size: map.get($breakpoint, $key);
  @if $type == up {
    @media (min-width: $size) {
      @content;
    }
  } @else {
    @media (max-width: $size) {
      @content;
    }
  }
}
