$colors: (
  primary-red: hsl(12, 88%, 59%),
  primary-blue: hsl(228, 39%, 23%),
  neutral-blue-400: hsl(227, 12%, 61%),
  neutral-blue-900: hsl(233, 12%, 13%),
  neutral-gray-100: hsl(0, 0%, 98%),
  neutral-red-100: hsl(13, 100%, 96%),
  neutral-white: hsl(0, 0%, 100%),
);
